.header{
    background-color: black;
    color: white;
    
}
.title{
  
  font-family: var(--font5);
font-weight: 800;
font-size: 40px;
color: #fff;
margin-bottom: -45px;
display: flex;
justify-content: center;
}
.title1{
  
font-family: 'COCOMAT', sans-serif;
font-weight: 400;
font-size: 40px;
color: #fff;
display: flex;
justify-content: center;
}

.titles{
   padding-left: 520px;
   padding-right: 260px; 
}
.icon{
    display: flex;
    justify-content:space-around;
width: 60px;
height: 60px;
transition-duration: 0.2s;

}
.icon:hover{
padding-left:  10px;
padding-right:  10px;
width: 50px;
height: 50px;
}


.search{
padding-left:  10px;
padding-right:  10px;
transition-duration: 0.2s;
}

.search:hover{
padding-left:  10px;
padding-right:  10px;
width: 50px;
height: 50px;
}
.config{
padding-left:  10px;
padding-right:  10px;
transition-duration: 0.2s;
}

.config:hover{
padding-left:  10px;
padding-right:  10px;
width: 50px;
height: 50px;
}
.profile{
padding-left:  10px;
padding-right:  10px;
transition-duration: 0.2s;
}

.profile:hover{
padding-left:  10px;
padding-right:  10px;
width: 50px;
height: 50px;
}




body{
    background: #000000;
    color: white;
    
}

.velora-box{
    display: flex;
   flex-direction: row;
justify-content: space-around;
align-items: center;

padding-left: 80px;
padding-right: 80px;
padding-bottom: 20px;
padding-top: 20px;
}

.image-gallery-top{
    background-image: url('https://github.com/vatrushkaa02/Velora/blob/main/images/Asset%207vector%20background%20decoration%20.png?raw=true');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
   flex-direction: row;
justify-content: space-around;
align-items: center;

background-color: #a44a3f;

padding-left: 80px;
padding-right: 80px;
padding-bottom: 200px;
padding-top: 100px;

}

.image{
border: 20px solid #D9D9D9;
transition-duration: 1s;
}

.image:hover{
border: 20px solid #D9D9D9;
margin-top: 50px;
transition-duration: 0.2s;
}

.bpapt{ 
font-family: 'COCOMAT', sans-serif;
font-weight: 400;
font-size: 48px;
color: #fff;
display: flex;
padding-left: 80px;
padding-bottom: 10px;
}

.bpapt1{
  
font-family: 'COCOMAT', sans-serif;
font-weight: 400;
font-size: 48px;
color: #fff;
display: flex;
padding-left: 80px;


}


.about-project{
font-family: 'COCOMAT', sans-serif;
font-weight: 400;
font-size: 48px;
color: #fff;
display: flex;
padding-left: 80px;
padding-top: 80px;

}

.about-project1{
font-family: 'COCOMAT', sans-serif;
font-weight: 300;
font-size: 35px;
color: #fff;
display: flex;
padding-left: 80px;

}
.about-project2{
background-color: #a44b3fea;

margin: 20px;


padding-bottom: 100px;
border-radius: 20px;
transition-duration: 0.5s;
}
.about-project2:hover{

padding-bottom: 200px;

}
.about-project3{

background-image: url(https://github.com/vatrushkaa02/Velora/blob/main/images/Asset%2010background%20flowers%20artistic%20white.png?raw=true);
margin-right: 30px;
background-blend-mode:darken;
background-color: #a44b3f31;

}

.logika-img2{
    background-color: #d68b81;
    padding-top: 30px;
    padding-bottom: 20px;
   
    margin-bottom: 0px;
    opacity: 100%;
    
}
.logika-img{
    opacity: 80%;
   width: 450px;
   height: 450px;
   transition-duration: 0.5s;
}
.logika-img:hover{
margin-bottom: 10px;
box-shadow: 0px 10px 0px rgba(255, 255, 255, 0.863);
box-shadow: 0px -10px 0px rgba(255, 255, 255, 0.863);
width: 500px;
   height: 500px;
}
.link{
  font-family: 'COCOMAT', sans-serif;
font-weight: 400;
font-size: 26px;
color: #fff;
display: flex;
padding-left: 20px;
padding-bottom: 30px;  

}
.mid{
   display: flex;
   flex-direction: row;
justify-content: space-around; 
align-items: flex-end;
padding-left: 80px;
padding-right: 80px;
padding-top: 150px;
transition-duration: 0.5s;
padding-bottom: 100px;
}

.mid:hover{

padding-top: 100px;

}

#theme-window{
font-family: 'COCOMAT', sans-serif;
}







/* ===================== */
/* LIGHT THEME */
/* ===================== */

.light-theme{

    background:#f4f4f4 !important;
    color:#111 !important;

}

.light-theme .header{

    background:white !important;
    color:black !important;

}

.light-theme .title,
.light-theme .title1,
.light-theme .bpapt{

    color:black !important;

}

.light-theme .image-gallery-top{

    background-color:#d68b81 !important;

}



.light-theme .icon,
.light-theme .search,
.light-theme .config,
.light-theme .profile{

    filter: brightness(0);

}















#loader{

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:black;
opacity: 98%;
    display:flex;

    justify-content:center;

    align-items:center;

    z-index:9999;

}
#loader.hide{

    opacity:0;

    pointer-events:none;

    transition:1s;

}


@keyframes fade{

    from{

        opacity:0;

    }

    to{

        opacity:1;

    }

}
@keyframes grow{
    from{
margin-left: 300px;
margin-right: 300px;
    }

    to{
margin-left: 20px;
margin-right: 20px;
    }
}



.loader-content{

    animation:fade 2s;

}

.citate{
font-family: 'COCOMAT', sans-serif;
font-weight: 100;
font-size: 60px;
color: #fff;
display: flex;
justify-content: center;
animation:fade 6s;
}

.line{
background-color: #D9D9D9;
margin-top: -30px;
margin-bottom: -60px;
margin-left: 20px;
margin-right: 20px;
font-size: 1px;
animation:fade 4s;
animation:grow 7s;
} 
