.header{
    background-color: black;
    color: white;
    
}
.title{
  
  font-family: var(--font5);
font-weight: 800;
font-size: 40px;
color: #fff;
margin-bottom: -45px;
display: flex;
justify-content: center;
}
.title1{
  
font-family: 'COCOMAT', sans-serif;
font-weight: 400;
font-size: 40px;
color: #fff;
display: flex;
justify-content: center;
}

.titles{
   padding-left: 520px;
   padding-right: 260px; 
}
.icon{
    display: flex;
    justify-content:space-around;
width: 60px;
height: 60px;
transition-duration: 0.2s;

}
.icon:hover{
padding-left:  10px;
padding-right:  10px;
width: 50px;
height: 50px;
}


.search{
padding-left:  10px;
padding-right:  10px;
transition-duration: 0.2s;
}

.search:hover{
padding-left:  10px;
padding-right:  10px;
width: 50px;
height: 50px;
}
.config{
padding-left:  10px;
padding-right:  10px;
transition-duration: 0.2s;
}

.config:hover{
padding-left:  10px;
padding-right:  10px;
width: 50px;
height: 50px;
}
.profile{
padding-left:  10px;
padding-right:  10px;
transition-duration: 0.2s;
}

.profile:hover{
padding-left:  10px;
padding-right:  10px;
width: 50px;
height: 50px;
}




body{
    background: #000000;
    color: white;
    
}

.velora-box{
    display: flex;
   flex-direction: row;
justify-content: space-around;
align-items: center;

padding-left: 80px;
padding-right: 80px;
padding-bottom: 20px;
padding-top: 20px;
}

.image-gallery-top{
    background-image: url('https://github.com/vatrushkaa02/Velora/blob/main/images/Asset%207vector%20background%20decoration%20.png?raw=true');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
   flex-direction: row;
justify-content: space-around;
align-items: center;

background-color: #a44a3f;

padding-left: 80px;
padding-right: 80px;
padding-bottom: 200px;
padding-top: 100px;

}

.image{
border: 20px solid #D9D9D9;
transition-duration: 1s;
}

.image:hover{
border: 20px solid #D9D9D9;
margin-top: 50px;
transition-duration: 0.2s;
}

.bpapt{
  
font-family: 'COCOMAT', sans-serif;
font-weight: 400;
font-size: 48px;
color: #fff;
display: flex;
padding-left: 80px;
}

