.title{
font-family: 'COCOMAT', sans-serif;
font-weight: 400;
font-size: 50px;
color: #fff;
display: flex;

}

header{
background-color: black;
    display: flex;
   flex-direction: row;
justify-content: space-around;
align-items: center;

padding-left: 5px;
padding-right: 5px;
padding-top: 10px;

box-shadow: 0px -10px 0px #d9d9d9;
}

body{
background-color: #a44a3f ;
padding: 0;
margin: 0;
padding-top: 20px;

}
.icon{
padding-left:  10px;
padding-right:  10px;
}

.name{
font-family: 'COCOMAT', sans-serif;
font-weight: 600;
font-size: 40px;
color: #fff;
display: flex;
justify-content: center;
}

.info-text{
font-family: 'COCOMAT', sans-serif;
font-weight: 400;
font-size: 30px;
color: #fff;
display: flex;
}

.info{
    padding: 20px;
background-color: black;
width: 450px;
height: 660px;
}

.image{
box-shadow: 20px 0px 0px #d9d9d9, -20px 0px 0px #d9d9d9;

width: 450px;
height: 350px;
}

.full-image{
width: 900px;
height: 700px;

}
.mid{
    display: flex;
   flex-direction: row;
padding-top: 20px;
padding-bottom: 40px;
justify-content: space-around;
}
.grey-box{
height: 700px;
width: 400px;
background-color: #d9d9d9;

}

footer{
background-color: black;  
 padding-bottom: 80px;
 padding-top: 20px;

}

.about-text{
font-family: 'COCOMAT', sans-serif;
font-weight: 400;
font-size: 30px;
color: #fff;
display: flex;
background-color: #a44a3f;
width: 1400px;
box-shadow: 20px 20px 0px #d9d9d9;
margin: 20px;
margin-left: 60px;
padding: 20px;
}